body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-size: 16px;
}

.header {
    color: #FFFFFF;
}

/* LOGO */
.nav-logo {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    line-height: 1.17;
    color: #4d5ae5;
}

.nav-logo:focus {
    color: #404BBF;
}

.header .studio {
    color: #2e2f42;
}

/* NAV-LIST */
.header .nav-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #2e2f42;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.02em;
}

.header .nav-list .link:hover,
.header .nav-list .link:focus,
.header .nav-list .link:active {
    color: #404BBF;
}




/* INFO */
.header .info {
    font-style: normal;
}

.header .info .info-list .link {
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    font-style: normal;
    letter-spacing: 0.02em
}

.header .info .info-list .link:hover,
.header .info .info-list .link:focus {
    color: #404bbf;
}

/*MAIN*/

.main .main-section {
    background-color: #2e2f42;
}

.main .main-section .header-main {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    background-color: #2e2f42;
    text-align: center
}

/*BUTTON*/
.main .main-section .button-main {
    color: #ffffff;
    background-color: #4d5ae5;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    font-weight: 500
}

.main .main-section .button-main:hover,
.main .main-section .button-main:focus {
    background-color: #404BBF;
}

/*FEATURES*/
.main .section-features .features-list {
    background-color: #FFFFFF;
}

.main .section-features .header-features {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: .02em;
    color: #2e2f42;
}

.main .section-features .text-features {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: .02em;
    color: #434455;
}

/*TEAM*/

.main .team {
    background-color: #F4F4FD;
}

.main .team .main-header-team {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

.main .team .team-list {
    background-color: #FFFFFF;
}

.main .team .header-team {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: .02em;
    color: #2e2f42;
}

.main .team .text-team {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: .02em;
    color: #434455;
}



/*PORTFOLIO*/
.main .portfolio .main-header-portfolio {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: .02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

.main .portfolio .portfolio-list .features-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: .02em;
    color: #2e2f42;
}

.main .portfolio .portfolio-list .features-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: .02em;
    color: #434455;
}

.footer {
    background-color: #2e2f42;
}

.footer .footer-text {
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer .footer-studio {
    color: #f4f4fd;
}