/* BASIC STYLES */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* CONTAINER */
.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.portfolio .container {
    border-top: none;
}

/* HEADER */
.header {
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    border-bottom: 1px solid #e7e9fc;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    height: 72px;
}

.navigation-menu {
    display: flex;
    align-items: center;
}

.nav-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    text-decoration: none;
}

.nav-logo:focus,
.nav-logo:hover {
    color: #404BBF;
}

.studio {
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studio:hover,
.studio:focus {
    color: #404BBF;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-list .link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;
}

.nav-list .link:hover,
.nav-list .link:focus,
.nav-list .link:active {
    color: #404BBF;
}

.nav-list .link-studio {
    color: #404BBF;
    position: relative;
}

.nav-list .link-studio:after {
    content: '';
    width: 100%;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -1px;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list .link-studio:hover:after,
.nav-list .link-studio:focus:after {
    opacity: 1;
}

.info {
    font-style: normal;
}

.info-list {
    display: flex;
    gap: 40px;
}

.info-list .link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;
}

.info-list .link:hover,
.info-list .link:focus,
.info-list .link:active {
    color: #404BBF;
}
/* MAIN */
.main-section {
    background-color: #2e2f42;
    padding: 188px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 10px #2E2F42B2;
    max-width: 1440px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), url(./images/people-office\ 1.jpg));
       
}
.main-section-list .features-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    border: 1px solid rgba(142, 143, 153, 1);
        border-radius: 4px;
        background: rgba(244, 244, 253, 1);
        margin-bottom: 8px;
}
 
.main-section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.header-main {
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
}

.button-main {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-main:hover,
.button-main:focus {
    background-color: #404BBF;
}
 
/* FEATURES */
.section-features {
    padding: 120px 0;
}

.features-list {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.main-section-list {
    width: calc((100% - 72px) / 4);

}
.main-section .features {
    text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  color: #2e2f42;
}

.header-features {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.text-features {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* TEAM */
.team {
    background-color: #F4F4FD;
    padding: 120px 0;
}


.main-header-team {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
        gap: 24px;
}

.team-item {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16), 0 1px 6px rgba(46, 47, 66, 0.08);
}

.description-co-workers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px 0;
    text-align: center;
    gap: 8px;

}



.team-list-li {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.team-list-li:hover {
    
}

.team-list-ul {
    display: flex;
        justify-content: center;
        gap: 24px;

}

.header-team {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-social-icon {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-icon:focus,
.team-social-icon:hover {
  background-color: #404bbf;
}
.socialcs-icon {
    fill: #f4f4fd;
}

.text-team {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* PORTFOLIO */
.portfolio {
    padding: 120px 0;
}



.main-header-portfolio {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-card-list {
    width: calc((100% - 48px) / 3);
    border: 1px solid #e7e9fc;
    border-radius: 0 0 4px 4px;
    transition: box-shadow 250ms cubic-bezier(0.4,
        0,
        0.2,
        1);
        cursor: pointer;
}
.portfolio-card-list:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
            0px 1px 1px 0px rgba(46, 47, 66, 0.16),
            0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.portfolio-card-list:hover p {
    transform: translateY(0%);
}
.div-overlay {
    overflow: hidden;
    position: relative;
}

.portfolio-card-list img {
    width: 100%;
    height: auto;
}
.portfolio-cards-img {
    max-width: 100%;
}
.overlay-text {
    position: absolute;
        top: 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        padding: 40px 32px;
        background-color: #4d5ae5;
        width: 100%;
        height: 100%;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.description-portfolio {
    padding: 32px 16px;
    border-right: 1px solid #e7e9fc;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-top: none;
}

 

.features-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.features-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* FOOTER */
.footer {
    background-color: #2e2f42;
    padding: 100px 0;
    color: #f4f4fd;
}
.footer .container {
        display: flex;
        flex-direction: row;
        align-items: baseline;
}
.footer .footer-logo {
    display: inline-block;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        margin-bottom: 16px;

}
.footer-span {
    color: #f4f4fd;
}
.footer-logo-div {
    margin-right: 120px;
}
.footer-text {
    max-width: 264px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.footer-social-text {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    color: rgba(255, 255, 255, 1);
}

.footer-social-media-item {
    display: flex;
    gap: 16px;
}

.footer-social-list {
    width: 40px;
    height: 40px;
}

.footer-social-links {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-links:focus,
.footer-social-links:hover {
    background-color: #31d0aa;
}

.footer-icon-svg {
    fill: #f4f4fd;
}